<?xml version="1.0"?>
<!--
/**
 * CorlleteLab
 *
 * Imagezoom extension
 *
 * @category   CorlleteLab
 * @package    CorlleteLab_Imagezoom
 * @copyright  Copyright (c) 2011 Corllete Ltd. (http://www.clabteam.com/)
 * @author     CorlleteLab Dev Team <office@clabteam.com>
 */
-->

<config>
	<modules>
		<CorlleteLab_Imagezoom>
			<version>0.1.0</version>
		</CorlleteLab_Imagezoom>
	</modules>
	<global>
        <models>
            <imagezoom>
                <class>CorlleteLab_Imagezoom_Model</class>
            </imagezoom>
        </models>
        <helpers>
            <imagezoom>
                <class>CorlleteLab_Imagezoom_Helper</class>
            </imagezoom>
        </helpers>
		<blocks>
			<imagezoom>
                <class>CorlleteLab_Imagezoom_Block</class>
            </imagezoom>
            <page>
                <rewrite>
                    <html_head>CorlleteLab_Imagezoom_Block_Html_Head</html_head>
                </rewrite>
            </page>
			<catalog>
				<rewrite>
					<product_view>CorlleteLab_Imagezoom_Block_Catalog_Product_View</product_view>
				</rewrite>
			</catalog>
		</blocks>
	</global>
    <frontend>
		<!--
		<routers>
						
			<imagezoom>
				<use>standard</use>
				<args>
					<module>CorlleteLab_Imagezoom</module>
					<frontName>imagezoom</frontName>
				</args>
			</imagezoom>
						
			<catalog>
				<args>
					<modules>
						<CorlleteLab_Imagezoom before="Mage_Catalog">CorlleteLab_Imagezoom</CorlleteLab_Imagezoom>
					</modules>
				</args>
			</catalog>
		</routers>
		-->
        <layout>
            <updates>
                <imagezoom>
                    <file>imagezoom.xml</file>
                </imagezoom>
            </updates>
        </layout>
		<translate>
            <modules>
                <imagezoom>
                    <files>
                        <default>CorlleteLab_ImageZoom.csv</default>
                    </files>
                </imagezoom>
            </modules>
        </translate>
    </frontend>
	<backend_model>imagezoom/adminhtml_system_config</backend_model>
	<adminhtml>
        <translate>
            <modules>
                <imagezoom>
                    <files>
                        <default>CorlleteLab_ImageZoom.csv</default>
                    </files>
                </imagezoom>
            </modules>
        </translate>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<imagezoomconfig translate="title">
											<title>ImageZoom Config Section</title>
											<sort_order>0</sort_order>
										</imagezoomconfig>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<default>
		<imagezoomconfig>
			<moduleoptions>
				<moduleenable>1</moduleenable>
				<jquery>1</jquery>
				<jqueryexternal>1</jqueryexternal>
			</moduleoptions>
			<imagezoom_style_css>
				<img_size>265</img_size>
				<lens_border>3</lens_border>
				<lens_border_color>CCCCCC</lens_border_color>
				<lens_background_color>FFFFFF</lens_background_color>
				<zoom_window_border>3</zoom_window_border>
				<zoom_window_border_color>CCCCCC</zoom_window_border_color>
			</imagezoom_style_css>
			<imagezoom_options>
				<zoomWidth></zoomWidth>
				<zoomHeight></zoomHeight>
				<position>'right'</position>
				<adjustX></adjustX>
				<adjustY>-3</adjustY>
				<tintenable>0</tintenable>
				<zoomeffect>0</zoomeffect>
				<tintColor></tintColor>
				<tintOpacity></tintOpacity>
				<lensOpacity></lensOpacity>
				<smoothMove></smoothMove>
				<showTitle>1</showTitle>
				<titleOpacity></titleOpacity>
			</imagezoom_options>
			<imagezoom_images>
				<imagesToShow></imagesToShow>
			</imagezoom_images>
		</imagezoomconfig>
	</default>
</config>